* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F8EEE7;
}
a:hover {
  color: black;
}
a .cajaButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
a .cajaButtons .buttons1 {
  background-color: #9d1d36;
  padding: 15px;
  font-size: 18px;
  width: 260px;
  transition: all 0.5s;
}
a .cajaButtons .buttons1:hover {
  width: 310px;
}
a .cajaButtons .buttons2 {
  background-color: #9d1d36;
  padding: 15px;
  font-size: 18px;
  width: 120px;
  transition: all 0.5s;
}
a .cajaButtons .buttons2:hover {
  width: 170px;
}
a .cajaButtons .buttons input {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  padding: 10px;
  background-color: transparent;
}
a .cajaButtons .buttons input:hover {
  box-shadow: 2px 2px 2px black;
}

.cajaButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.cajaButtons .buttons input {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  padding: 10px;
  background-color: transparent;
}
.cajaButtons .buttons input:hover {
  box-shadow: 2px 2px 2px black;
}

.posicion {
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 20px;
  font-size: 20px;
}

header {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  font-size: 20px;
}
header .navbar {
  --bs-navbar-padding-y: 0rem;
}
header .navbar .cajaHeader {
  display: flex;
  flex-direction: column;
  background-color: #F4DECB;
  --bs-gutter-x: 0em;
}
header .navbar .cajaHeader .cajaNav .buttonNav {
  border: none;
}
header .navbar .cajaHeader .cajaNav .logoMenu {
  margin: 0%;
  padding: 0%;
}
header .navbar .cajaHeader .cajaNav .logoMenu .logoNavbar {
  width: 200px;
  height: 200px;
}
header .navbar .cajaHeader .menuNav ul li {
  padding: 10px;
}
header .navbar .cajaHeader .menuNav ul li a {
  text-decoration: none;
  color: black;
}
header .navbar .cajaHeader .menuNav ul li a:hover {
  color: #9d1d36;
  font-weight: 600;
}

.mainIndex {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainIndex section .cajaCardsIndex .col .cardIndex img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}
.mainIndex section .cajaCardsIndex .col .cardIndex .cardBody {
  padding: 5% 0%;
}
.mainIndex section .cajaCardsIndex .col .cardIndex .cardBody .card-title {
  font-size: 15px;
  opacity: 75%;
}
.mainIndex section .cajaCardsIndex .col .cardIndex .cardBody a {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-size: 17px;
}
.mainIndex section .cajaCardsIndex .col .cardIndex .cardBody a:hover {
  text-decoration: underline;
}

.mainCursos {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainCursos .cajaCursos .bannerCurso {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.mainCursos .cajaCursos .tituloCurso {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.mainCursos .cajaCursos .tituloCurso h2 {
  border-bottom: 1px solid black;
  width: 60%;
  color: #9d1d36;
}
.mainCursos .panelCurso {
  margin-bottom: 100px;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso {
  border: none;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso a {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  border: none;
  font-size: 15px;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso a:hover {
  opacity: 50%;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso a img {
  width: 70px;
  height: 70px;
  margin: 20px;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso a .cardBody h3 {
  font-size: 25px;
  font-weight: 600;
}
.mainCursos .panelCurso div .cajaCardsCursos .col .cardCurso a .cardBody h4 {
  font-size: 18px;
  font-weight: 500;
}

.mainShop {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainShop .carousel .carousel-inner .carousel-item {
  position: relative;
}
.mainShop .carousel .carousel-inner .carousel-item img {
  height: 500px;
  object-fit: cover;
}
.mainShop .carousel .carousel-inner .carousel-item h5 {
  margin: 0%;
  position: absolute;
  top: 47%;
  right: 20%;
  padding: 0%;
  font-size: 30px;
}
.mainShop h2 {
  margin-left: 20%;
  border-bottom: 1px solid black;
  width: 300px;
}
.mainShop .container .row .col .cardShop {
  margin-top: 60px;
}
.mainShop .container .row .col .cardShop a {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
.mainShop .container .row .col .cardShop a img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}
.mainShop .container .row .col .cardShop a img:hover {
  border: 2px solid transparent;
}

.mainNosotros {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainNosotros .card {
  --animate-duration: 1s;
  --animate-delay: 0.5s;
}
.mainNosotros .card .cajaNosotros {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  border: 1px solid rgb(153, 153, 153);
}
.mainNosotros .card .cajaNosotros .videoTeam video {
  width: 100%;
}
.mainNosotros .card .cajaNosotros .col-md-8 .card-body .card-title {
  font-size: 25px;
  color: #9d1d36;
}
.mainNosotros .card .cajaNosotros .col-md-8 .card-body p {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  text-transform: none;
}
.mainNosotros .card .cajaTeam {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  background-color: #F4DECB;
}
.mainNosotros .card .cajaTeam .imgTeam {
  display: flex;
  justify-content: center;
}
.mainNosotros .card .cajaTeam .col-md-8 .card-body .card-title {
  font-size: 25px;
  color: #9d1d36;
}
.mainNosotros .card .cajaTeam .col-md-8 .card-body p {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  text-transform: none;
}
.mainNosotros .cajaContacto {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  --animate-duration: 2s;
  --animate-delay: 4s;
}
.mainNosotros .cajaContacto .contacto h4 {
  margin-bottom: 20px;
}
.mainNosotros .cajaContacto .contacto iframe {
  width: 100%;
}
.mainNosotros .cajaContacto .inputs {
  width: 500px;
  height: 600px;
  margin: 20px 20px 40px 20px;
  box-shadow: 2.5px 2.5px 10px 10px rgb(194, 194, 194);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mainNosotros .cajaContacto .inputs h4 {
  padding: 10px;
}
.mainNosotros .cajaContacto .inputs .mb-3 {
  width: 90%;
}

.mainInspo {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainInspo .cajaImgInspo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mainInspo .cajaImgInspo .grupoInspo {
  position: relative;
}
.mainInspo .cajaImgInspo .grupoInspo a {
  color: transparent;
}
.mainInspo .cajaImgInspo .grupoInspo a:hover {
  filter: brightness(50%);
  color: rgb(255, 255, 255);
}
.mainInspo .cajaImgInspo .grupoInspo a img {
  height: 800px;
}
.mainInspo .cajaImgInspo .grupoInspo a h5 {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  position: absolute;
  top: 80%;
  text-align: center;
  padding: 20px;
  text-transform: none;
}

.containerNews {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
  background-color: #F4DECB;
}
.containerNews .container .logoMenu .logoNavbarNews {
  width: 100px;
  height: 100px;
}

.mainNewsletter {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
.mainNewsletter .cajaNewsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.mainNewsletter .cajaNewsletter .card {
  border: none;
  border-top: 1px solid rgb(180, 180, 180);
  --bs-card-border-radius: 0px;
}
.mainNewsletter .cajaNewsletter .card .row .col-md-4 {
  display: flex;
  justify-content: center;
}
.mainNewsletter .cajaNewsletter .card .row .col-md-4 img {
  padding-right: 15px;
}
.mainNewsletter .cajaNewsletter .card .row .col-md-8 {
  display: flex;
  justify-content: center;
}
.mainNewsletter .cajaNewsletter .card .row .col-md-8 div .form-check-input:checked {
  background-color: #9d1d36;
  border-color: #9d1d36;
}
.mainNewsletter .formNewsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainNewsletter .formNewsletter .campos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  padding: 30px;
}
.mainNewsletter .formNewsletter .campos div input {
  height: 50px;
  width: 300px;
}
.mainNewsletter .formNewsletter section div .form-check .form-check-input:checked {
  background-color: #9d1d36;
  border-color: #9d1d36;
}

footer {
  background-color: #F4DECB;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c25848;
  font-family: "Fjalla One", sans-serif;
  font-weight: 500px;
  color: black;
  letter-spacing: 0.12em;
  line-height: 1.3em;
  text-transform: uppercase;
  list-style: none;
}
footer .footerTexto {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 20px;
  font-size: 15px;
}
footer .footerTexto .enlaces div {
  padding: 20px;
}
footer .footerTexto .enlaces div ul {
  padding: 0%;
  list-style: none;
}
footer .footerTexto .enlaces div ul li a {
  color: black;
  text-decoration: none;
}
footer .footerTexto .enlaces div ul li a:hover {
  color: #F8EEE7;
}
footer .footerLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footerLogos p {
  padding: 30px;
  font-size: 15px;
  margin: 0%;
}
footer .footerLogos .cajaLogo img {
  height: 200px;
  width: 200px;
}
footer .footerLogos .cajaLogos a img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .mainInspo .cajaImgInspo .grupoInspo a img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  header .navbar {
    --bs-navbar-toggler-focus-width: 0px;
    --bs-navbar-toggler-border-color: 0px;
  }
  header .navbar .cajaHeader .menuNav {
    position: absolute;
    top: 100%;
    background-color: #F4DECB;
    width: 100%;
    z-index: 2;
  }
  header .navbar .cajaHeader .menuNav ul {
    display: grid;
    justify-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .footerLogos .cajaLogo img {
    height: 150px;
    width: 150px;
  }
  .mainNewsletter .formNewsletter .campos {
    display: flex;
    flex-direction: column;
    padding: 0%;
    padding-bottom: 10px;
  }
  .mainShop .carousel .carousel-inner .carousel-item img {
    height: 300px;
  }
  .mainNosotros .cajaContacto {
    margin: 20px 0px 20px 20px;
  }
  .mainNosotros .cajaContacto .inputs {
    margin: 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .mainIndex section .cajaCardsIndex {
    margin-right: 0%;
  }
  .mainIndex section .cajaCardsIndex .col .cardIndex {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .mainIndex section .cajaCardsIndex .col .cardIndex img {
    width: 70%;
    margin-right: 3%;
  }
  .mainNewsletter .cajaNewsletter .card .row {
    padding: 0% 10% 10% 10%;
  }
  .mainNewsletter .cajaNewsletter .card .row .col-md-4 img {
    padding: 0% 0% 5% 0%;
    width: 300px;
    display: flex;
    justify-items: center;
  }
  footer {
    text-align: center;
  }
  footer .footerTexto .enlaces {
    display: flex;
    flex-direction: column;
  }
  footer .footerTexto .enlaces div {
    padding: 0%;
  }
  .mainShop h2 {
    width: 150px;
    margin-left: 10px;
  }
  .mainNosotros .card {
    text-align: center;
  }
  .mainNosotros .cajaContacto {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .mainNosotros .cajaContacto .contacto {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }
  .mainNosotros .cajaContacto .inputs {
    width: 90%;
  }
  .mainCursos .cajaCursos .bannerCurso {
    height: auto;
  }
  .mainInspo .cajaImgInspo .grupoInspo a h5 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header .navbar .cajaHeader .cajaNav {
    display: flex;
    flex-direction: row;
  }
  header .navbar .cajaHeader .cajaNav .logoMenu .logoNavbar {
    width: 100%;
  }
  .mainIndex section .cajaCardsIndex .col .cardIndex .cardBody a {
    font-size: 15px;
  }
  .mainCursos .cajaCursos .panelCurso div .cajaCardsCursos .col .cardCurso a .cardBody h3 {
    font-size: 20px;
  }
  .mainCursos .cajaCursos .panelCurso div .cajaCardsCursos .col .cardCurso a .cardBody h4 {
    font-size: 15px;
  }
  .mainCursos .cajaCursos .panelCurso div .cajaCardsCursos .col .cardCurso a .cardBody p {
    font-size: 12px;
  }
  .mainShop .carousel .carousel-inner .carousel-item h5 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .enlaces {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
