/* Estilos generales */
/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

/* Header */

/* header ul li {
    padding: 10px;
}

.menuNav a {
    text-decoration: none;
    color: #000000;

}*/

/* .menuNav a:hover {
    color: #9d1d36;
    font-weight: 600;
} */

/* .logoNavbar {
    width: 250px;
    height: 250px;
} */

/* .cajaHeader {
    display: flex;
    flex-direction: column;
    background-color: #F4DECB;
} */

/* @media screen and (max-width: 991px) {
    .menuNav ul{
        display: grid;
        justify-items: center;
    }
}

@media screen and (max-width: 991px) {
    .menuNav {
        position: absolute;
        top: 100%;
        background-color:#F4DECB;
        width: 100%;
        z-index: 2;
    }
} */

/* @media screen and (max-width: 320px) {
    .cajaNav {
        display: flex;
        flex-direction: row;
    }
} */

/* @media screen and (max-width: 576px) {
    .logoMenu img {
        width: 40%;
        height: 40%;
    }
} */

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.navbar-toggler {
    border: none
}
    

/* Mains */

/* .posicion {
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 20px;
    font-size: 20px;
} */

/* .textoGeneral {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 18px;
    line-height: 1.3em;
    list-style: none;
} */

header .textoGeneral {
    font-size: 22px;
}

/* .cajaButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.buttons {
    background-color: #9d1d36;
}

.buttons a {
    text-decoration: none;
    color: #F8EEE7;
}

.buttons a:hover {
    color: black;
} */

/* Main Index */

/* @media screen and (max-width: 768px) {
    .cajaCardsIndex .card {
        margin: 10px;
    }
} */

/* .cajaCardsIndex h5 {
    font-size: 15px;
    opacity: 75%;
} */

/* .cajaCardsIndex a {
    font-size: 17px
} */

/* .cajaCardsIndex a:hover{
    text-decoration: underline;
} */

/* .cajaCardsIndex img {
    height: 400px;
    width: 300px;
    object-fit: cover;
} */

/* .textoGeneral a {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 18px;
    line-height: 1.3em;
    list-style: none;
    text-decoration: none;
} */


/* @media screen and (max-width: 768px) {
    .cajaCardsIndex .card {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .cajaCardsIndex .card img {
        width: 150px;
        height: 200px;
        margin-right: 5%;
    }
} */

/* .cardBody{
    padding: 5% 0%;
} */

/* Main Inspo */
/* .cajaImgInspo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grupoInspo{
    position: relative;
}

.grupoInspo img{
    height: 800px;
}

.grupoInspo img:hover{
    filter:brightness(50%);
}

.grupoInspo h5{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 18px;
} */

/* @media screen and (max-width: 992px) {
    .grupoInspo img {
        width: 100%;
        height: 100%;
    }
} */

/* Main Nosotros */

/* .banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.textoNosotros {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500px;
    color: black;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 1.3em;
    list-style: none;
    padding: 20px;
}

.cajaTeam {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.imgTeam {
    display: flex;
    justify-content: center;
}

.cajaTeam h5 {
    color: #9d1d36;
} */

/* Main Shop */

/* .carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.cardShop {
    margin-top: 60px;
}

.cardShop img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.cardShop .card-img-top:hover {
    border: 2px solid transparent;
} */

/* Newsletter */

/* Header */
/* .logoNavbarNews {
    width: 100px;
    height: 100px;
} */

/* Main */
/* .cajaNewsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
} */
/*

.formNewsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .containerNews {
    background-color: #F4DECB;
} */

/* .cajaNewsletter .card {
    border: none;
}

.cajaNewsletter img {
    padding-right: 15px;
} */

/* @media screen and (max-width: 768px) {
    .cajaNewsletter img {
        padding: 0% 0% 5% 0%;
        width: 300px;
        display: flex;
        justify-items: center;
    }
} */

/* .cajaNewsletter .col-md-4{
    display: flex;
    justify-content: center;
}

.cajaNewsletter .col-md-8{
    display: flex;
    justify-content: center;
} */

/* @media screen and (max-width: 768px) {
    .row {
        padding: 0% 10% 10% 10%;
    }
} */

/* .form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    margin-top: 0em;

}

.form-check-input:checked {
    background-color:#9d1d36;
    border-color:#9d1d36;
} */

/* .campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 30px;
} */

/* @media screen and (max-width: 992px) {
    .campos {
        display: flex;
        flex-direction: column;
    }
} */

/* .campos input {
    height: 50px;
    width: 300px;
    border: 1px solid black;
} */

/* Main Cursos */

/* .bannerCurso{
    width: 100%;
    height: 600px;
    object-fit: cover;
} */


/* .tituloCurso{
    display: flex;
    justify-content: center;
}

.tituloCurso h2{
    margin-top: 100px;
    border-bottom: 1px solid black;
    width: 60%;
    color: #9d1d36;
}

.panelCurso .card a{
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 15px;
}

.panelCurso .card a:hover{
    opacity: 50%;
}

.panelCurso .card{
    border: none;
}

.panelCurso .card img{
    width: 70px;
    height: 70px;
    margin: 20px;
}

.panelCurso .card h3{
    font-size: 25px;
    font-weight: 600;
}

.panelCurso .card h4{
    font-size: 18px;
    font-weight: 500;
} */




/*  Footer */

/* footer {
    background-color: rgb(247, 241, 234);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c25848;
} */

/* @media screen and (max-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
    }
} */

/* .footerTexto {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    font-size: 15px;
} */

/* .footerLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* @media screen and (min-width: 768px) {
    .enlaces {
        display: flex;
        flex-direction: row;
    }
    
}

@media screen and (max-width: 768px) {
    .enlaces div ul {
        display: grid;
        justify-items: center;
    }
    .footerTexto div{
        display: grid;
        justify-items: center;
    }
} */



/* .enlaces ul{
    padding: 0%;
    list-style: none;
} */

/* footer ul li a {
    color: #000000;
    text-decoration: none;
} */

/* .enlaces div {
    padding: 20px
} */

/* .enlaces a:hover {
    color: #F8EEE7;
} */

/* .cajaLogo img {
    height: 200px;
    width: 200px;
} */

/* .cajaLogos img {
    height: 30px;
    width: 30px;
} */

/* .footerLogos p {
    padding: 30px;
    font-size: 15px;
} */
