.mainInspo{
    @include textoGeneral;
    .cajaImgInspo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .grupoInspo{
            position: relative;
            a{
                color: transparent;
                &:hover{
                    filter:brightness(50%);
                    color: rgb(255, 255, 255);
                }
                img{
                    height: 800px;
                }
                h5{
                    font-family: "EB Garamond", serif;
                    font-size: 15px;
                    position: absolute;
                    top: 80%;
                    text-align: center;
                    padding: 20px;
                }
            }
        }
    }
}