main{
    section{
        .cajaCardsIndex{
            .col{
                .cardIndex{
                    img{
                        height: 400px;
                        width: 300px;
                        object-fit: cover;
                        border-top-left-radius: 0%;
                        border-top-right-radius: 0%;
                    }
                    .cardBody{
                        padding: 5% 0%;
                        .card-title{
                            font-size: 15px;
                            opacity: 75%;
                        }
                        a{
                            font-size: 17px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}