.mainNosotros{
    @include textoGeneral;
    .card{
        .cajaNosotros{
            display: flex;
            flex-direction: row;
            padding: 20px;
            align-items: center;
            border: 1px solid rgb(153, 153, 153);
            .videoTeam{
                video{
                    width: 100%;
                }
            }
            .col-md-8{
                .card-body{
                    .card-title{
                        font-size: 25px;
                        color: $color2;
                    }
                    p{
                        font-family: "EB Garamond", serif;
                        font-size: 15px;
                    }
                }
            }
        }
        .cajaTeam{
            display: flex;
            flex-direction: row;
            padding: 20px;
            align-items: center;
            background-color: $bgColor;
            .imgTeam{
                display: flex;
                justify-content: center;
            }
            .col-md-8{
                .card-body{
                    .card-title{
                        font-size: 25px;
                        color: $color2;
                    }
                    p{
                        font-family: "EB Garamond", serif;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .cajaContacto{
        @include textoGeneral;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        .contacto{
            h4{
                margin-bottom: 20px;
            }
            iframe{
                width: 100%
            }
        }
        .inputs{
            width: 500px;
            height: 600px;
            margin: 20px 20px 40px 20px;
            box-shadow: 2.5px 2.5px 10px 10px rgb(194, 194, 194);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h4{
                padding: 10px;
            }
            .mb-3{
                width: 90%;

            }
        }
    }
}