main{
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    height: 500px;
                    object-fit: cover;
                }

            }
        }
    }
    .container{
        .row{
            .col{
                .cardShop{
                    margin-top: 60px;
                    a{
                        img{
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            border-top-left-radius: 0%;
                            border-top-right-radius: 0%;
                            &:hover{
                                border: 2px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}