* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$fontSize: 20px;
$fontSpaced: 0.12em;
$fontColor: black;
$fontColor2: #F8EEE7;
$fontWeight: 500px;
$bgColor: #F4DECB;
$bgColor2: #c25848;
$color2: #9d1d36;

@mixin textoGeneral{
    font-family: "Fjalla One", sans-serif;
    font-weight: $fontWeight;
    color: $fontColor;
    letter-spacing: $fontSpaced;
    line-height: 1.3em;
    text-transform: uppercase;
    list-style: none;
}


@mixin textoGeneral2{
    font-family: "EB Garamond", serif;
    padding: 20px;
    font-size: 20px;
}


.cajaButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    .buttons1{
        background-color: $color2;
        padding: 15px;
        font-size: 18px;
            a{
                text-decoration: none;
                color: $fontColor2;
                &:hover{
                    color: $fontColor;
                }
        }
    }
    .buttons{
        input{
            @include textoGeneral();
            padding: 10px;
            background-color: transparent;
            &:hover{
                box-shadow: 2px 2px 2px black;
            }
        }
    }
}

.posicion{
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 20px;
    font-size: $fontSize;
}

