/* Estilos generales */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$colorPrincipal: #F4DECB;
$colorSecundario: #c25848;
$textoFont: black "Fjalla One", sans-serif uppercase
$textoSize: 18px 500px 0.12em 1.3em
$positionPadding: 10% 3% 20px 0px
$positionSize: 20px


// comentario de sass//



