@media screen and (max-width: 992px) {
    header{
        .navbar{
            --bs-navbar-toggler-focus-width: 0px;
            --bs-navbar-toggler-border-color: 0px;
            .cajaHeader{
                .menuNav{
                    position: absolute;
                    top: 100%;
                    background-color:#F4DECB;
                    width: 100%;
                    z-index: 2;
                    ul{
                        display: grid;
                        justify-items: center;
                    }
                }
            }
        }
    }
    .mainInspo{
        .cajaImgInspo{
            .grupoInspo{
                a{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    main{
        .formNewsletter{
            .campos{
                display: flex;
                flex-direction: column;
                padding: 0%;
                padding-bottom: 10px;
            }
        }
    }
    .mainShop{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header{
        .navbar{
            .cajaHeader{
                .cajaNav{
                    display: flex;
                    flex-direction: row;
                    .logoMenu{
                        .logoNavbar{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    main{
        section{
            .cajaCardsIndex{
                .col{
                    .cardIndex{
                        .cardBody{
                            a{
                                font-size: 15px;
                            }
                        }
                        }
                    }
                }
            }
        }
}

@media screen and (max-width: 768px) {
    main{
        section{
            .cajaCardsIndex{
                margin-right:0%;
                .col{
                    .cardIndex{
                        display: flex;
                        flex-direction: row;
                        margin: 10px;
                        img{
                            width: 70%;
                            margin-right: 5%;
                        }
                    }
                }
            }
        }
    }
    main{
        .cajaNewsletter{
            .card{
                .row{
                    padding: 0% 10% 10% 10%;
                    .col-md-4{
                        img{
                            padding: 0% 0% 5% 0%;
                            width: 300px;
                            display: flex;
                            justify-items: center;
                        }
                    }
                }
            }
        }
    }
    footer{
        .footerTexto{
            .enlaces{
                div{
                    display: grid;
                    justify-items: center;
                    ul{
                        display: grid;
                        justify-items: center;
                    }
                }
            }
        }
    }
    .mainShop{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    h5{
                        z-index: -2;
                    }
                }
            }
        }
        h2{
            width: 150px;
            margin-left: 10px;
        }
    }
    main{
        .cajaContacto{
            display: flex;
            flex-direction: column;
            height: auto;
            .contacto{
                width: 90%
            }
            .inputs{
                width: 90%
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .enlaces {
        display: flex;
        flex-direction: row;
    }
}




