@media screen and (max-width: 1200px) {
    .mainInspo{
        .cajaImgInspo{
            .grupoInspo{
                a{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header{
        .navbar{
            --bs-navbar-toggler-focus-width: 0px;
            --bs-navbar-toggler-border-color: 0px;
            .cajaHeader{
                .menuNav{
                    position: absolute;
                    top: 100%;
                    background-color:#F4DECB;
                    width: 100%;
                    z-index: 2;
                    ul{
                        display: grid;
                        justify-items: center;
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        .footerLogos{
            .cajaLogo{
                img{
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }
    .mainNewsletter{
        .formNewsletter{
            .campos{
                display: flex;
                flex-direction: column;
                padding: 0%;
                padding-bottom: 10px;
            }
        }
    }
    .mainShop{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        height: 300px;
                    }
                }
            }
        }
    }
    .mainNosotros{
        .cajaContacto{
            margin: 20px 0px 20px 20px;
            .inputs{
                margin: 0px 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainIndex{
        section{
            .cajaCardsIndex{
                margin-right:0%;
                .col{
                    .cardIndex{
                        display: flex;
                        flex-direction: row;
                        margin: 10px;
                        img{
                            width: 70%;
                            margin-right: 3%;
                        }
                    }
                }
            }
        }
    }
    .mainNewsletter{
        .cajaNewsletter{
            .card{
                .row{
                    padding: 0% 10% 10% 10%;
                    .col-md-4{
                        img{
                            padding: 0% 0% 5% 0%;
                            width: 300px;
                            display: flex;
                            justify-items: center;
                        }
                    }
                }
            }
        }
    }
    footer{
        text-align: center;
        .footerTexto{
            .enlaces{
                display: flex;
                flex-direction: column;
                div{
                    padding: 0%;
                }
            }
        }
    }
    .mainShop{
        h2{
            width: 150px;
            margin-left: 10px;
        }
    }
    .mainNosotros{
        .card{
            text-align: center;
        }
        .cajaContacto{
            display: flex;
            flex-direction: column;
            height: auto;
            .contacto{
                width: 90%;
                margin-bottom: 20px;
                text-align: center;
            }
            .inputs{
                width: 90%;
            }
        }
    }
    .mainCursos{
        .cajaCursos{
            .bannerCurso{
                height: auto;
            }
        }
    }
    .mainInspo{
        .cajaImgInspo{
            .grupoInspo{
                a{
                    h5{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header{
        .navbar{
            .cajaHeader{
                .cajaNav{
                    display: flex;
                    flex-direction: row;
                    .logoMenu{
                        .logoNavbar{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .mainIndex{
        section{
            .cajaCardsIndex{
                .col{
                    .cardIndex{
                        .cardBody{
                            a{
                                font-size: 15px;
                            }
                        }
                        }
                    }
                }
            }
        }
        .mainCursos{
            .cajaCursos{
                .panelCurso{
                    div{
                        .cajaCardsCursos{
                            .col{
                                .cardCurso{
                                    a{
                                        .cardBody{
                                            h3{
                                                font-size: 20px;
                                            }
                                            h4{
                                                font-size: 15px;
                                        }
                                        p{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                }
            }
        }
        .mainShop{
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        h5{
                            display: none;
                        }
                    }
                }
            }
        }
}

@media screen and (min-width: 768px) {
    .enlaces {
        display: flex;
        flex-direction: row;
    }
}




