footer{
    background-color: rgb(247, 241, 234);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c25848;
    .footerTexto{
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0 20px;
        font-size: 15px;
        .presentacion{
        }
        .enlaces{
            div{
                padding: 20px;
                ul{
                    padding: 0%;
                    list-style: none;
                    li{
                        a{
                            color: #000000;
                            text-decoration: none;
                            &:hover{
                                color: #F8EEE7;
                            }
                        }
                    }
                }
            }
        }
    }
    .footerLogos{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            padding: 30px;
            font-size: 15px;
        }
        .cajaLogo{
            img{
                height: 200px;
                width: 200px;
            }
        }
        .cajaLogos{
            a{
                img{
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}