header {
    @extend .textoGeneral;
    font-size: 20px;
    .navbar {
        --bs-navbar-padding-y: 0rem;
        .cajaHeader {
            display: flex;
            flex-direction: column;
            background-color: $bgColor;
            --bs-gutter-x: 0em;
            .cajaNav{
                .buttonNav{
                    border: none;
                }
                .logoMenu {
                    margin: 0%;
                    padding: 0%;
                    .logoNavbar{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
            .menuNav {
                ul {
                    li {
                        padding: 10px;
                        a {
                            text-decoration: none;
                            color: $fontColor;

                            &:hover{
                                color: $color2;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}