header {
    nav {
<<<<<<< HEAD
        .cajaHeader {
=======
        section {
>>>>>>> 1bb327f0eb51d29278b2e3d16f2cfb5455701cb5
            display: flex;
            flex-direction: column;
            background-color: #F4DECB;
            .cajaNav{
                .logoMenu {
                    .logoNavbar{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .menuNav {
                ul {
                    li {
                        padding: 10px;
                        a {
                            text-decoration: none;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}